body {
  font-family: "Lato", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

a{
  text-decoration: none;
}
nav{
  display: block;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 25px;
  /* display: block; */
}
.sidenav h2{
  padding: 2px 4px 2px 12px;

}
.sidenav a {
  padding: 2px 4px 2px 12px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: black;
}

#main-doc {

  margin-top: 2%;
  width:70%;
  margin-left: 280px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  /* overflow: hidden; */
}
#main-doc p{
  /* font-size:16px; */
  /* line-height: 1em; */
  /* font-weight: 200; */
}
#main-doc li{
  /* font-size: 14px; */
  /* font-weight: 100; */
  /* line-height: 1.4em; */
  margin-left: 50px;
}



@media (max-width: 450px) {
  nav{
      display: none;
  }
  #main-doc {
    width:90%;
    margin-left: 10px;
  }
}